---
version: 2
updates:
  # Github Actions update
  - package-ecosystem: github-actions
    assignees:
      - "MohsenHNSJ"
    directory: "/"
    labels:
      - "ci"
    open-pull-requests-limit: 2000
    schedule:
      interval: daily
    target-branch: "test"

    # Python dependencies (workflows only)
  - package-ecosystem: pip
    assignees:
      - "MohsenHNSJ"
    directory: "/.github/workflows"
    labels:
      - "dependencies"
    open-pull-requests-limit: 2000
    schedule:
      interval: daily
    target-branch: "test"
    versioning-strategy: increase

    # Python dependencies (documentation only)
  - package-ecosystem: pip
    assignees:
      - "MohsenHNSJ"
    directory: "/docs"
    labels:
      - "dependencies"
    open-pull-requests-limit: 2000
    schedule:
      interval: daily
    target-branch: "test"
    versioning-strategy: increase

    # Python dependencies (all)
  - package-ecosystem: pip
    allow:
      - dependency-type: "all"
    assignees:
      - "MohsenHNSJ"
    directory: "/"
    labels:
      - "dependencies"
    open-pull-requests-limit: 2000
    schedule:
      interval: daily
    target-branch: "test"
    versioning-strategy: increase

    # Dockerfile / Container updates
  - package-ecosystem: docker
    assignees:
      - "MohsenHNSJ"
    directory: "/.devcontainer"
    labels:
      - "dependencies"
    open-pull-requests-limit: 2000
    schedule:
      interval: daily
    target-branch: "test"

    # Dev container updates
  - package-ecosystem: devcontainers
    assignees:
      - "MohsenHNSJ"
    directory: "/"
    labels:
      - "dependencies"
    open-pull-requests-limit: 2000
    schedule:
      interval: daily
    target-branch: "test"
