---
name: KICS Scanner

on:
  pull_request: # Run on every pull request
  push: # Run on every Push

permissions: read-all

jobs:
  kics:
    runs-on: ubuntu-latest
    name: kics-action
    permissions:
      pull-requests: write
    steps:
      # Harden the runner (Audit all outbound calls)
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit # Monitor outbound connections

      # Git Checkout
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

        # Run KICS Scan
      - name: Run KICS Scanner
        uses: checkmarx/kics-github-action@00def9108246ec656aea725db2167522d26a99d2 # v2.1.19
        with:
          # Enable pull request comments
          enable_comments: true
          # Enable report as jobs summary
          enable_jobs_summary: true
          # Add queries in th pull request report comments
          comments_with_queries: true
          # Disables the exclusion of paths specified within .gitignore file
          exclude_gitignore: true
          # Exclude queries by providing the query ID, comma separated list
          exclude_queries: 555ab8f9-2001-455e-a077-f2d0f41e2fb9,fd54f200-402c-4333-a5a4-36ef6709af2f,b03a748a-542d-44f4-bb86-9199ab4fd2d5
          # Path to the file or directory to scan
          path: "."
