---
name: Labeler

on:
  push:
    branches:
      - main
    paths:
      - ".github/labels.yml"
      - ".github/workflows/labeler.yml"
  pull_request:
    paths:
      - ".github/labels.yml"
      - ".github/workflows/labeler.yml"

permissions: read-all

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # Monitor outbound connections

      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@24d110aa46a59976b8a7f35518cb7f14f434c916 # v5.3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Path to YAML file containing label definitions
          yaml-file: .github/labels.yml
          # Don't apply changes if it's a PR
          dry-run: ${{ github.event_name == 'pull_request' }}
          # List of labels to exclude from applying or removing
          exclude: |
            help*
            *issue
