---
name: Check Links

on:
  repository_dispatch:
  workflow_dispatch:
  push: # Run on every Push
  pull_request: # Run on every PR

permissions: read-all

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit # Monitor outbound connections

      # Git Checkout
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@8646ba30535128ac92d33dfc9133794bfdd9b411 # v2.8.0
        with:
          # Fail the action on broken links
          fail: true
